<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='/javascripts/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <link rel='stylesheet' type='text/css' href='/javascripts/fullcalendar.min.css' />

    
  </head>
  <body>
      <script type='text/javascript' src='/javascripts/jquery-3.3.1.min.js'></script>
      <script src='/javascripts/moment.min.js'></script>

      <script type='text/javascript' src='/javascripts/fullcalendar.min.js'></script>
      

      <script src="/javascripts/index.js"></script>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="calendar"></div>
  </body>
</html>
