body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.has-success .form-control{ border-color:inherit !important;}
.has-success .form-control:focus { border-color:inherit !important;}